#admin-order-details #details-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #f1f1f1;
}

#admin-order-details #details-cont #header {
    flex: 0 0 100px;
}

#admin-order-details #details-cont #header h1 {
    line-height: 100px;
    text-align: center;
}

#admin-order-details #details-cont #order-info-cont {
    flex: 0 0 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

#admin-order-details #details-cont #order-info-cont div {
    margin: 0 15px;
}

#admin-order-details #details-cont #order-info-cont div span {
    margin-left: 5px;
    font-weight: bold;
}

#admin-order-details #details-cont .product {
    flex: 0 0 250px;
    display: flex;
    flex-wrap: nowrap;
    margin: 15px;
    padding: 15px;
    background: #fff;
}

#admin-order-details #details-cont .product .img-canvas {
    height: 100%;
    width: 200px;
    background-clip: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#admin-order-details #details-cont .product .info {
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

#admin-order-details #details-cont .product .info > div {
    height: 45px;
}

#admin-order-details #details-cont .product .info > div span:not(.prev) {
    font-weight: bold;
}

#admin-order-details #details-cont .product .info .color-cont {
    display: flex;
    align-items: center;
}

#admin-order-details #details-cont .product .info .color {
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-left: 10px;
    border: 1px solid black;
}

#admin-order-details form {
    margin: 30px 15px;
}

#admin-order-details form #is-shipped {
    margin-top: 3px;
}

#admin-order-details form .btn {
    margin-top: 25px;
    padding: 5px 7px !important;
}