#admin-login {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

#admin-login h2,
#admin-login form label,
#admin-login form .form-control,
#admin-login .error,
#admin-login .btn {
    font-family: var(--nav-font-family);
}

#admin-login h2 {
	border-bottom: 2px solid black;
	padding-bottom: 5px;
    margin-bottom: 30px;
    font-size: 2.8em;
}

#admin-login form {
    width: 100%;
    margin-top: 60px;
}

#admin-login form label {
    font-size: 1.1em;
    font-weight: bold;
}

#admin-login .error {
    color: red;
    margin: 10px 0;
}

#admin-login .btn {
    font-weight: bold;
}

@media screen and (min-width: 320px) {
    #admin-login #admin-login-cont {
        width: calc(100% - 30px);
    }
}

@media screen and (min-width: 710px) {
    #admin-login #admin-login-cont {
        width: 500px;
    }
}